## Module 7 Exercises

The exercises in this notebook focus on the ontologies discussed in [Module-7.ipynb](../Module-7.ipynb). Find the most commonly occuring words in the book.

**Activity 1: ** Load the book data into a dataframe called book_data. Add a column called "source" to store the filename to which the line of text belongs.

**Hint:**  Read each file data and and create lists of lines and filename and convert this lists into dataframe.

In [8]:
## Your code for activity 1 goes here..

**Activity 2: ** Rename the two columns of book_data dataframe as "line" and "source"

In [9]:
## Your code for activity 2 goes here..

**Activity 3: ** Remove the chapter and line numbers in front of each line of text including special characters (for example, 1:1: or 1:2: etc).

In [10]:
## Your code for activity 3 goes here..

**Activity 4: ** create a new dataframe called book_words to count the occurance of each word in the books and also total words in the book.

In [11]:
library(dplyr)
library(janeaustenr)
library(tidytext)

In [12]:
## Your code for activity 4 goes here..

**Activity 5: ** Use the bind_tf_idf() function to find tf-idf scores of each word occuring in the books.

In [13]:
## Your code for activity 5 goes here..

**Activity 6: ** Plot the top 20 words occured in the whole dataset.

In [14]:
## Your code for activity 6 goes here..